@model Calificacion

@{
    ViewData["Title"] = "Calificar Alumno";
}

<h1>Calificar Alumno</h1>

<form asp-action="CalificarAlumno">
    <div class="form-group">
        <label asp-for="NotaFinal" class="control-label">Nota</label>
        <input asp-for="NotaFinal" class="form-control" />
        <span asp-validation-for="NotaFinal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Alumno.NombreCompleto" class="control-label">Alumno</label>
        <input asp-for="Alumno.NombreCompleto" class="form-control" />
        <span asp-validation-for="Alumno" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MateriaCursada.Nombre" class="control-label">Materia Cursada</label>
        <input asp-for="MateriaCursada.Nombre" class="form-control" />
        <span asp-validation-for="MateriaCursada.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Calificar" class="btn btn-primary" />
    </div>
</form>