@model IEnumerable<_2024_InstitutoEducativo.Models.MateriaCursada>

@{
    ViewData["Title"] = "Materias Cursadas";
}

<h1>Materias Cursadas</h1>
  

    <table class="table">
        <thead>
            <tr>
                <th>Nombre Materia</th>
                <th>Cuatrimestre</th>
                <th>Año Cursada</th>
                <th>Carrera</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Cuatrimestre</td>
                <td>@item.AnioCursada</td>
                <td>@item.Materia.Carrera.Nombre</td>
            </tr>
        }
        </tbody>
    </table>

