@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="image-container pulsating-shadow">
        <img src="img/Logo-Icon.png" alt="Imagen con sombra titilante"></img>
   </div>
</div>
