<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _2024_InstitutoEducativo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MisEstilos.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (signInManager.IsSignedIn(User))
                        {


                            @if (User.IsInRole(Configs.AlumnoRolName))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Calificaciones" asp-action="CalificacionesAlumno">Calificaciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Materias" asp-action="Index">Materias</a>
                                </li>                             
                            }

                            @if (User.IsInRole(Configs.ProfesorRolName))
                            {                                                       
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Profesores" asp-action="ListarMateriasCursadas">MateriasCursadas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Calificaciones" asp-action="ListarAlumnos">Alumnos</a>
                                </li>
                            }

                            @if (signInManager.IsSignedIn(User) && !User.IsInRole(Configs.AlumnoRolName) && !User.IsInRole(Configs.ProfesorRolName))
                            {
                                //acá debemos mostrar lo que necesita un usuario con sesión
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Alumnos" asp-action="Index">Alumnos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Calificaciones" asp-action="Index">Calificaciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Carreras" asp-action="Index">Carreras</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Direcciones" asp-action="Index">Direcciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Empleados" asp-action="Index">Empleados</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Materias" asp-action="Index">Materias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="MateriasCursadas" asp-action="Index">MateriasCursadas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Profesores" asp-action="Index">Profesores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Telefonos" asp-action="Index">Telefonos</a>
                                </li>

                            }
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="CerrarSesion">Cerrar Sesion</a>
                                </li>
                        }
                        else
                        {
                            //sin sesión
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Registrar">Registrate</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="IniciarSesion">Iniciar Sesion</a>
                            </li>
                        }

                        
                        




                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-view">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container text-light">
            &copy; 2024 - Instituto Tecnológico Del Futuro - <a asp-controller="PrecargaDb" asp-action="Seed">Precarga</a>|<a asp-controller="PrecargaDb" asp-action="Recreate" class="badge bg-danger">Recreate</a>
        </div>
        <div class="container text-light">
            <p>Proyecto de Programación en Nuevas Tecnologías 1 - Instituto de Tecnología de Educación Superior ORT Argentina</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
